.furn .furn-image {
    transition: 0.15s;
    margin: 0.5em;
    padding: 0;
    width: 75%;
    box-shadow: 0 0 20px var(--shadow);
}
.furn .furn-image:hover
{
    transform: scale(1.1);
}

.furn .block {
    display: flex;
    justify-content: center;
}

.furn .row {
    margin: auto;
}

.furnitures-container img {
    width: 70%;
    margin: auto;
    border-radius: 8px;
}

.furnitures-container .row > div {
    display: flex;
    justify-content: center;
}

.furnitures-container .row {
    box-shadow: 0 0 30px var(--shadow);
    margin-bottom: 3em;
    max-width: 95%;
    margin: auto auto 3em auto;
    border: 1px solid var(--line);
}

.furnitures-container .row h2 {
    margin-top: 1em;
    padding-top: 1em;
    text-align: center;
    font-weight: 100;
    /*border-top: 1px solid var(--line);*/
}

.furnitures-container .row visage-link {
    color: rgb(17, 140, 255);
    font-size: 1em;
    margin-top: 1em;
    margin: auto;
    padding: 1em;
}